@using AutoMapper.Internal
@using GridMvc.Html

@model IEnumerable<Orgainzation.Web.Models.EmployeeViewModel>
@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>@ViewBag.Title</h4>

<hr />

@Html.Grid(Model).Columns(col =>
    {
        col.Add(t => t.FirstName);
        col.Add(t => t.LastName);
        col.Add(t => t.BirthDate)
             .RenderValueAs(d => String.Format("{0:dd.MM.yyyy}", d.BirthDate)); 
        col.Add(t => t.Gender);
        col.Add(t => t.Phone);
        col.Add(t => t.Salary);
        col.Add(t => t.DepartmentId);
        col.Add().Encoded(false).Sanitized(false).SetWidth(20)
            .RenderValueAs(t => @Html.ActionLink("Edit", "Edit", new { id = t.Id }));
        col.Add().Encoded(false).Sanitized(false).SetWidth(20)
           .RenderValueAs(t => @Html.ActionLink("Delete", "Delete", new { id = t.Id }));
    }).WithPaging(10).Sortable().Selectable(false)

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div>
    @using (Ajax.BeginForm("CountAverageSalary", new AjaxOptions { UpdateTargetId = "results" }))
    {
        <input type="submit" id="btn" value="Count average salary" />
    }
    <div id="results"></div>
</div>
